version: 2
jobs:
  deploy-dev:
    docker:
      - image: borgesdemeirelles/ruby-node:0.1

    working_directory: ~/cicd-circleci

    steps:
      - checkout

workflows:
  version: 2
  deploy:
    jobs:
      - deploy-dev
